<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <p>this site was created by some name</p>
            <p>it uses data from mapbox.com and darksky.net</p>
        </div>
        {{>footer}}
    </body>
</html>